* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 630px;
    background-color: rgba(11, 11, 11, 0.8);
    display: flex;
    align-items: start;
    justify-content: start;
    /* flex-direction: column; */
}

.whats {
    height: 630px;
    width: 330px;
    /* border: 1px solid #ec2626; */
    background-color: rgba(35, 34, 34, 0.371);
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    /* position: fixed;
    left: 30px; */
}
.upper{
    height: auto;
    position: sticky;
    top: 0;
    background-color: #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* border: 2px solid red; */
    
}

.icons {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    /* background: #000; */
    /* position: sticky;
    top: 2px; */
}

.innericons {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.search {
    height: 30px;
    width: 300px;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: rgba(11, 11, 11, 0.239);
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: #fff;
    /* background-color: #000; */
}

.search p {
    font-size: 0.8rem;
    /* background: #000; */

}

.start {
    font-size: 1rem;
    font-weight: 300;
}

.msg {
    /* height: 20px; */
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #000; */
    color: #fff;
    gap: 10px;
    /* border: 2px solid dodgerblue; */
    /* flex-direction: column; */
}

.msg:hover {
    background-color: rgba(117, 115, 115, 0.274);
}

.msg img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.innermsg {
    height: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    /* border: 2px solid #000;/ */
}

.msggg {
    width: 85%;
}

.pehra p {
    font-size: 0.8rem;
    color: #ffffffc9;

}

.date {
    color: #ffffffb5;
    font-size: 0.7rem;
}

.line {
    height: 99vh;
    width: 35px;
    /* border: 2px solid dodgerblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* position: fixed;
    left: 0; */
    
}

.first {
    height: 120px;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    /* border: 2px solid red; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.first p {
    height: 50px;
    width: 30px;
    border-radius: 5px;
    /* padding: 0 7px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.first p:hover {

    background-color: rgba(117, 115, 115, 0.274);
}

.second {
    color: #fff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 20px;
    /* border: 1px solid green; */
}
.second b{
    height: 25px;
    width: 30px;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second b:hover{
    background-color:rgba(117, 115, 115, 0.274) ;
}
.image{
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
/* .top{
    /* height: 40px; */
    /* width: 100vw; */
    /* border: 2px solid yellowgreen; */
/* }*/ 
.cartt{
    height: 600px;
    width: 800px;
    border: 2px solid aqua;
}